* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Philosopher;
    src: url(../fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Philosopher Bold;
    src: url(../fonts/Philosopher-Bold.ttf);
}

html, body {
    font-family: Philosopher, various;

}

/* --------- header ----------- */

header {
    position: relative;
}

/* Light theme */
#myBody{
    background-color: white;
  }
  #switchButton {
    padding:10px 13px !important;
    border: 1px solid #343a40;
    border:1px solid white;

  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
    color: white;
    font-size: 1rem;
    
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color: #343a40;
  }
  .dark #switchButton {
    background-color: white;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: #343a40;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  

/* nav  */

#myBody header nav {
    align-items: center !important;
    padding: 0 2% !important;
    width: 100%;
    height: 60px;
    
    position: absolute;
    top: 0;
    z-index: 100;
}

.navbar {
    background: none;
}

.navbar-brand {
    font-size: 2rem;
    color: white !important;
    font-weight: bold;
    font-family: Philosopher, various;
    text-transform: uppercase;
}

.nav-item {
    margin-right: 1rem;
}

.nav-item a {
    color: white;
    font-size: 1.3rem;
}

.nav-item a .fa-angle-down {
    font-size: 0.8rem;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.555);
}

.dropdown-item { 
    font-size: 1.3rem;
    background-color: transparent;
    color: white !important;
}

.dropdown-item:hover {
    background-color: #343a40;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav {
    font-size: 1.4rem;
}

nav form {
   position: relative;
}

nav .form-control {
   
}

nav .form-control::placeholder {
    font-size: 1.3rem;
    
}

nav .form-control.btn-outline-dark {
    margin: 0;
}

nav .form-control.btn-outline-dark:hover {
    background-color: white;
}

.btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: white;

}

nav form i {
   position: absolute;
   top: 25%;
   right: 10%;
}

nav form i:hover {
    cursor: pointer;
}

nav .translate {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1px 7px;
    border-radius: 5px;
    border:1px solid white;
    margin-left: 10px;
    color: white;
}

nav .translate:hover {
    cursor: pointer;
}

/* Dark Theme Nav*/ 
.dark .navbar-brand {
    color: white !important;

}

.dark .nav-item .nav-link {
    color: white !important;
}

.dark nav .form-control.btn-outline-dark:hover {
    background-color: white;
}

.dark .btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: white;
}

.dark .dropdown-item { 
    font-size: 1.3rem;
    background-color: transparent;
    color: white !important;
}

.dark nav .translate {
    color: white;
    border:1px solid white;
}

.dark .dropdown-item:hover {
    background-color: rgb(241, 182, 19);
}

/* carousel  */

.carousel {
    overflow: hidden;
}

.block-carousel {
    height: 100vh;

    background-image: url(../img/danangtrip11.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    position: relative;
    
}

.carousel .overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.678);
}

.carousel .block-content {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);


}

.carousel-title {

}

.carousel-title h1 {
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    font-family: Philosopher Bold, various;

}

.carousel-content p {
    color: white;
    font-size: 1.2rem
}

.block-content button {
    border-color: white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 20px;
}

.block-content button:hover {
    color: white;
}

.block-content button i {
    padding-left: 10px;
    display: none;
    
}

.block-content button:hover i {
    display: inline-block;
    
    transition: all linear 0.2s;
}

svg {
    position: absolute;
    top: 8%;
    right: -3%;

    width:100%; 
    height:100%;
}
svg path#curve {
    fill:none; 
    stroke:#295BA9;
    stroke-width:2;  
}

svg path#maskCurve {
  stroke: white;
  stroke-width: 7;
}

svg #arrow {
    fill:#d21; 
    stroke: #000;
    stroke-width:1;
    width:20%;
}

/* ------------section----------- */

/* click button  */
.click-button {
    
}

.block-img-click {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 90px;
    padding: 0 25%;
    margin: 40px 0;
    gap: 40px;
}

.img-button {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;
    border-radius: 20px;

    position: relative;


}

.img-button:hover {
    cursor: pointer;
}

.img-button-1 {
    background-image: url(../img/danangtrip1.jpg);
}

.img-button-2 {
    background-image: url(../img/danangtrip2.jpg);
}

.img-button-3 {
    background-image: url(../img/danangtrip3.jpg);
}

.img-button-4 {
    background-image: url(../img/danangtrip4.jpg);
}

.img-button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;

    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.555);

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-button .overlay h1 {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* destinations */
.destinations {

}

/* Carousel */
.about-us-service-title {
    text-align: center;
  }
  
  .carousel-container {
    padding: 20px;
    display: flex;
    text-align: center;
    position: relative;
    height: 450px;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
  }
  
  .carousel-card {
    height: 300px;
    width: 200px;
    padding: 20px;
    transition: 1s;
    opacity: 1;
    position: absolute;
    top: 0;
    background-color: #F58220;
    color: #FFF;
    cursor: pointer;
    box-shadow: 1px 2px 3px grey;
  }
  
  .carousel-icon {
    border-radius: 50%;
    height: 75px;
    width: 75px;
  }
  
  #far-left {
    left: 15%;
    transform: scale(.9) translateY(0%) translateX(-50%);
    z-index: 5;
    background-color: #F0F0F0;
  }
  
  #left {
    left: 30%;
    transform: scale(1) translateY(0%) translateX(-50%);
    z-index: 10;
    background-color: #C3C3C3;
  }
  
  #center {
    left: 50%;
    transform: scale(1.05) translateY(0%) translateX(-50%);
    z-index: 15;
  }
  
  #right {
    left: 70%;
    transform: scale(1) translateY(0%) translateX(-50%);
    z-index: 10;
    background-color: #C3C3C3;
  }
  
  #far-right {
    left: 80%;
    transform: scale(.9) translateY(0%) translateX(-50%);
    z-index: 5;
    background-color: #F0F0F0;
  }
  
  
  .carousel-card:hover {
  
  }



