* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Philosopher;
    src: url(../fonts/Philosopher-Regular.ttf);
  }

html, body {
    font-family: Philosopher, various;

}

/* --------- header ----------- */

header {
    position: relative;
}

/* Light theme */
#myBody{
    background-color: white;
  }
  #switchButton {
    padding:10px 13px !important;
    border: 1px solid #343a40;
    border:1px solid white;

  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
    color: white;
    font-size: 1rem;
    
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color: #343a40;
  }
  .dark #switchButton {
    background-color: white;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: #343a40;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  

/* nav  */

#myBody header nav {
    align-items: center !important;
    padding: 0 2% !important;
    width: 100%;
    height: 60px;
    
    position: absolute;
    top: 0;
    z-index: 100;
}

.navbar {
    background: none;
}

.navbar-brand {
    font-size: 2.2rem;
    color: white !important;
    font-weight: bold;
    font-family: Philosopher, various;
}

.nav-item {
    margin-right: 1rem;
}

.nav-item a {
    color: white;
    font-size: 1.3rem;
}

.nav-item a .fa-angle-down {
    font-size: 0.8rem;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.555);
}

.dropdown-item { 
    font-size: 1.3rem;
    background-color: transparent;
    color: white !important;
}

.dropdown-item:hover {
    background-color: #343a40;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav {
    font-size: 1.4rem;
}

nav form {
   position: relative;
}

nav .form-control {
   
}

nav .form-control::placeholder {
    font-size: 1.3rem;
    
}

nav .form-control.btn-outline-dark {
    margin: 0;
}

nav .form-control.btn-outline-dark:hover {
    background-color: white;
}

.btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: white;

}

nav form i {
   position: absolute;
   top: 25%;
   right: 10%;
}

nav form i:hover {
    cursor: pointer;
}

nav .translate {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1px 7px;
    border-radius: 5px;
    border:1px solid white;
    margin-left: 10px;
    color: white;
}

nav .translate:hover {
    cursor: pointer;
}

/* Dark Theme Nav*/ 
.dark .navbar-brand {
    color: white !important;

}

.dark .nav-item .nav-link {
    color: white !important;
}

.dark nav .form-control.btn-outline-dark:hover {
    background-color: white;
}

.dark .btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: white;
}

.dark .dropdown-item { 
    font-size: 1.3rem;
    background-color: transparent;
    color: white !important;
}

.dark nav .translate {
    color: white;
    border:1px solid white;
}

.dark .dropdown-item:hover {
    background-color: rgb(241, 182, 19);
}


/* ------------section----------- */

/* carousel  */

.carousel {
    overflow: hidden;
}

.block-carousel {
    height: 70vh;

    background-image: url(../img/danangtrip11.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    position: relative;
    
}

.carousel .overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.678);
}




